@charset 'UTF-8';

@font-face{
    font-family: 'ana';
    src: url('../fontes/idroid.otf') format('opentype');
    
}
*{
    margin:0px;
    padding: 0px;
}
:root{
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
}
body{
    background-color: var(--cor2);
    text-align: justify;
}
header{
    background-image: linear-gradient(to top,var(--cor5),var(--cor3));
    text-align: center;
    color:white;
    padding: 20px;
    min-height: 100px;
   

}
header>h1{
    padding-bottom: 20px;
    max-width: 500px;
    margin: auto;
  
}
header>p{
    font-size: 1.1em;
    max-width: 500px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.123);

}
nav>a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
   padding-bottom: 10px;

}
nav>a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
    transition-duration: 1s;
}

main{
    margin: auto;
    background-color: white;
    max-width: 800px;
    min-width: 320px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px black;
    
}
main p{
      text-indent: 20px;
      padding: 10px;
      line-height: 1.2em;
      text-align: justify;
}
article>h1,h2{
    font-family: ana;
    color: var(--cor4);
}
article>h2{
    padding: 5px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}
picture>img{
    width: 100%;
}
article>img{
    max-width: 500px;
    display: block;
    margin: auto;
}
.video{
    background-color: var(--cor6); 
    position: relative;
    margin-left: -20px;
    margin-right:-20px;
    padding: 20px;
    padding-bottom:70% ;
   
}
.video>video{
   width: 95%;
   height: 90%;
    
    position:absolute;
    
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
aside ul{
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}
aside>h3{
    background-color: var(--cor5);
    margin: -10px -10px 5px -10px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
}
a::after{
    content:'\1F517';
}

footer{
    background-color: #063d1e;
    margin-top: 10px;
}
footer>p{
    color: white;
    padding: 10px;
    text-align: center;
}



